#usernameError {
	width: 29.1%;
	background-color: tomato;
	font-weight: bold;
	margin-top: 1%;
	margin-bottom: 1%;
}

#passwordError {
	width: 54.1%;
	background-color: tomato;
	font-weight: bold;
	margin-top: 1%;
	margin-bottom: 1%;
}

#studentIdError {
	width: 25.8%;
	background-color: tomato;
	font-weight: bold;
	margin-top: 1%;
	margin-bottom: 1%;
}

#success {
	background-color: green;
	font-weight: bold;
	width: 6.1%;
	margin-top: 1%;
	margin-bottom: 1%;
}

div.visible {
	display: block;
}

div.invisible {
	display: none;
}
