<!DOCTYPE HTML>
<html>
	<head>
  		<title>lab1</title>
  		<meta charset = "UTF-8" />
  		<style>
  			#usernameError {
  				width: 29.1%;
  				background-color: tomato;
  				font-weight: bold;
  				margin-top: 1%;
  				margin-bottom: 1%;
  			}

  			#passwordError {
  				width: 54.1%;
  				background-color: tomato;
  				font-weight: bold;
  				margin-top: 1%;
  				margin-bottom: 1%;
  			}

  			#studentIdError {
  				width: 25.8%;
  				background-color: tomato;
  				font-weight: bold;
  				margin-top: 1%;
  				margin-bottom: 1%;
  			}

  			#success {
  				background-color: green;
  				font-weight: bold;
  				width: 6.1%;
  				margin-top: 1%;
  				margin-bottom: 1%;
  			}

  			div.visible {
  				display: block;
  			}

  			div.invisible {
  				display: none;
  			}
  		</style>
  		<script>
  			//Global variables
  			var usernameErrorBool = false;
  			var passwordErrorBool = false;
  			var studentIdErrorBool = false;
  			var theTextArea;
  			var theWordCount;
  			var mySubmitButton;
  			var globalwordCount = 25;
			var MAX_WORD_COUNT = 0;
  			
  			//Functions
  			function checkUsername(x) {
  				var regex = /^[A-Za-z]+$/;
  				var usernameDiv = document.getElementById("usernameError");
  				
  				//If the string "x" matches the regular expression for only upper-case and lower-case letters, then there are no errors and the div remains or is set to invisible and the flag remains or is set to false.
  				if(x.match(regex)) {
  					usernameDiv.setAttribute("class", "invisible");
  					usernameErrorBool = false;
      			}
      			
      			//If the string does not match the regular expression then an error was found and the div becomes visible and the userNameErrorBool flag is set to true.
      			else {
  					usernameDiv.setAttribute("class", "visible");
  					usernameErrorBool = true;
      			}
      			
      		} //End checkUsername
      		
  			function checkPassword(x) {
  				var passwordDiv = document.getElementById("passwordError");
  				var upper = false;
  				var lower = false;
  				var number = false;

  				//Loops for every character in the string "x" and the if, else if, and else statements check if the character is an upper or lower case letter or a number.
  				for (var n = 0; n < x.length; n++) {
  					 var character = x.charCodeAt(n);

  					if((character > 47 && character < 58)) {
  						number = true;
  					}

  					else if((character > 64 && character < 91)) {
  						upper = true;
  					}

  					else if((character > 96 && character < 123)) {
  						lower = true;
  					}
  				}

  				//This if statement and else statement check if at least one upper-case letter, one lower-case letter, and a number are found. If this is the case, then no errors occur and the passwordErrorBool flag will be false and the div will be invisible.
  				if(upper == true && lower == true && number == true) {
  					passwordDiv.setAttribute("class", "invisible");
  					passwordErrorBool = false;
  				}

  				else {
  					passwordDiv.setAttribute("class", "visible");
  					passwordErrorBool = true;
  				}
  			} //End checkPassword
  			
  			function checkStudentId(x) {
  				var studentIdDiv = document.getElementById("studentIdError");
  				var regex = /^[0-9]+$/;


  				//If the string "x" matches the regular expression for only upper-case and lower-case letters and is only 9 digits long, then there are no errors and the div remains or is set to invisible and the flag remains or is set to false.
  				if(x.match(regex) && x.length > 8 && x.length < 10) {
  					studentIdDiv.setAttribute("class", "invisible");
  					studentIdErrorBool = false;
  				}

  				//If the string does not match the regular expression or is not of length 9, then an error was found and the div becomes visible and the studentIdErrorBool flag is set to true.
  				else {
  					studentIdDiv.setAttribute("class", "visible");
  					studentIdErrorBool = true;
  				}
  			} //End checkStudentId
  			
			function wordCheck(word) {
  				var numberOrWord = false;

  				//Loops for every character in the string "word"
  				for (var n = 0; n < word.length; n++) {
    				var character = word.charCodeAt(n);

    				//Checks if every character in "word" is a letter or number
    				if ((character > 47 && character < 58) || 
						(character > 64 && character < 91) || 
						(character > 96 && character < 123))
    				{
      					numberOrWord = true;
      					return numberOrWord;
    				}
  				}
  				return numberOrWord;
			} //End wordCheck

  			function theWordCounter(text) {
  				var text = theTextArea.value.split(" ");
  				var wordCount = 25;

  				//Loops for every word in the string "text"
  				for (var n = 0; n < text.length; n++) {
    				if (text[n] !== " " && wordCheck(text[n])) {
      					wordCount--;
    				}
  				}

  				//Updates the two word counter variables after the string is checked for words.
  				theWordCount.innerText = wordCount;
  				globalwordCount = wordCount;
			} //End theWordCounter
			
			function buttonClick() {
  				var username = document.getElementById("usernameField").value;
  				var password = document.getElementById("passwordField").value;
  				var studentId = document.getElementById("studentIdField").value;
  				var successDiv = document.getElementById("success");

  				//Checks the username for errors, sets usernameErrorBool to true if an error is found.
  				checkUsername(username);
  				//Checks the password for errors, sets passwordErrorBool to true if an error is found.
  				checkPassword(password);
  				//Checks the student ID number for errors, sets studentIdErrorBool to true if an error is found.
  				checkStudentId(studentId);

  				//If any of the error flags are true this sets the background color to red.
  				if(usernameErrorBool == true || passwordErrorBool == true || studentIdErrorBool == true) {
  					successDiv.setAttribute("class", "invisible");
  					document.body.style.background = "red";
  				}

  				//If no errors are found, then the user was successful and the background color remains unchanged or is returned back to white.
  				else {
  					successDiv.setAttribute("class", "visible");
  					document.body.style.background = "white";
  				}
  			} //End buttonClick

  			function start() {
  				mySubmitButton = document.getElementById("submitButton");
  				theTextArea = document.getElementById("message");
  				theWordCount = document.getElementById("wordCount");

  				//Event triggered if the submit button is clicked and the buttonClick function is initialized.
  				mySubmitButton.addEventListener("click", buttonClick);
  				//Event triggered when a key is released when typing in the text area.
  				theTextArea.addEventListener("keyup", function(e) { theWordCounter(e.target.value); });
  				//Event triggered when a key is pressed down when typing in the text area.
  				theTextArea.addEventListener("keydown", function(e) {
  					if (globalwordCount <= MAX_WORD_COUNT && e.code !== "Backspace") {
    					e.preventDefault();
    					return;
  					}
				});
  			} //End start

  			//Initiates start function when window is loaded.
  			window.addEventListener("load", start);
  		</script>
    </head>
	<body onload="document.form.reset();">
		<form name="form">
			<label for="usernameField">Username:</label><br>
  			<input type="text" id="usernameField" name="Username:"><br><br>

  			<label for="passwordField">Password:</label><br>
  			<input type="password" id="passwordField" name="Password:"><br><br>

  			<label for="studentIdField">Student ID:</label><br>
  			<input type="text" id="studentIdField" name="StudentId:"><br><br><br>

  			<label> Message:<br>
  				<textarea id="message" rows="12" cols="80"></textarea>
  			</label>
  			<br>
  			Number of words left: <span id="wordCount">25</span>
  			<br><br>
  			<input type="button" id="submitButton" value="Submit">
		</form>
		<div id="usernameError" class="invisible">Error: Only letters can be used to create a username.
		</div>
		<div id="passwordError" class="invisible">Error: Password must contain at least one number, one lower-case letter, and one upper-case letter.
		</div>
		<div id="studentIdError" class="invisible">Error: Student ID number must be 9 numbers.
		</div>
		<div id="success" class="invisible">SUCCESS!
		</div>
	</body>
</html>
