<!DOCTYPE html>
<html lang="en">
	<style>
	table, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	  font-size: 30px;
	}
	th {
	  border: 5px solid black;
	  border-collapse: collapse;
	  font-size: 30px;
	}
	table {
	  width: 100%;
	}
	</style>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset = "UTF-8" />
		<title>PBscanner</title>
		<link rel="stylesheet" href="/static/css/style.css"/>
		<link rel="shortcut icon" href="#">
		<link rel="stylesheet" href="/static/css/styleDisplayResults.css"/>
		<script src="/static/JavaScript/script.js"></script>
	</head>
	<body>
	<mid>
	<div class="middle">
		<header>
			<div class="title">PBScanner</div>
		</header>
		<h1>Please schedule an appointment below</h1>
	<div class="b a">
		<form name="form" "{{ url_for('appointments') }}" method="post" autocomplete="off">
			<div class="form-group">
				{% with messages = get_flashed_messages()  %}
				{% if messages %}
				{% for message in messages %}
					{% if sent == false %}
					<div style="color:red;" role="alert">
					{% else %}
					<div role="alert">
					{% endif %}
						{{ message }}
					</div>
				{% endfor %}
				{% endif %}
				{% endwith %}
			</div>

			<div class="form__fieldset xshadow">
				<label for="starttime" class="form__label d">Start Time:</label><br>
				<input type="time" name="starttime" id="starttime" class="form__input" placeholder="Enter a start time" required/><br><br>
			</div>

			<div class="form__fieldset">
				<label for="endtime" class="form__label d">End Time:</label><br>
				<input type="time" name="endtime" id="endtime" class="form__input" placeholder="Enter an end time" required/><br><br>
			</div>

			<div class="form__fieldset xshadow">
				<label for="date" class="form__label d">Date:</label><br>
				<input type="date" name="date" id="date" class="form__input" placeholder="Enter your last name" required/><br><br>
			</div>

			<div class="form__fieldset">
				<label for="remindertime" class="form__label d">Time at which you want to be reminded:</label><br>
				<input type="time" name="remindertime" id="remindertime" class="form__input" placeholder="Enter a reminder time" required/><br><br>
			</div>

			<div class="form__fieldset xshadow">
				<label for="appname" class="form__label d">Appointment Name:</label><br>
				<input type="appname" name="appname" id="appname" class="form__input" placeholder="Enter appointment name" required/><br><br>
			</div>

			<div class="form__fieldset">
				<label for="location" class="form__label d">Location:</label><br>
				<input type="location" name="location" id="location" class="form__input" placeholder="Enter a location" required/><br><br>
			</div>

			<div class="form__fieldset xshadow">
				<label for="doctorname" class="form__label d">Doctor Name:</label><br>
				<input type="doctorname" name="doctorname" id="doctorname" class="form__input" placeholder="Enter the name of the doctor" required/><br><br>
			</div>

			<div class="form__fieldset">
				<input class="form__submit form__input" type="submit" value="Add appointment" />
			</div>

			<div class="form__fieldset">
				<input class="form__submit form__input" type="submit" value="Edit appointment" />
			</div>

			<div class="form__fieldset">
				<input class="form__submit form__input" type="submit" value="Remove appointment" />
			</div>
			
			<div class="form-group">
				<p style="padding:5px;">
				<a href="{{ url_for('login') }}" class="btn btn-dark ">Login here</a></p>
			</div>
		</form>
	</div>
		<div class="b a">Here is your current list of Prescriptions:</div><br>
			<div class="table">
				<table>
					<tr>
						<th>Name</th>
						<th>Date</th>
						<th>Start</th>
						<th>End</th>
						<th>Time</th>
						<th>Doctor</th>
						<th>Location</th>
					</tr>
					{% for appointment in appointments %}
					<tr>
						<td>{{ appointments['appointmentname'] }}</td>
						<td>{{ appointments['appdate'] }}</td>
						<td>{{ appointments['starttime'] }}</td>
						<td>{{ appointments['endtime'] }}</td>
						<td>{{ appointments['remindertime'] }}</td>
						<td>{{ appointments['doctorname'] }}</td>
						<td>{{ appointments['location'] }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>

		<div class="form-group">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul>
							{% for message in messages %}
								<div role="alert" style="color:red;">
									<li>{{ message }}</li>
								</div>
							{% endfor %}
						</ul>
					{% endif %}
				{% endwith %}
		</div><br><br><br>

		<div>
			<a href="{{ url_for('home') }}" class="btn btn-dark " style="font-size:30px">
				<input type="button" value="Home"/>
			</a>
		</div>
		<div style="height:30px"></div>
	</div>
	</mid>
	</body>
</html>
