<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<title>Drug Search Results</title>
			<meta name="viewport" content="width=device-width,initial-scale=1">
			<link rel="stylesheet" href="/static/css/style.css"/>
			<link rel="shortcut icon" href="#">
			<script>
				var api = 'https://api.fda.gov/drug/label.json?api_key=&search=dosage_and_administration:';
				var drugName = "{{ drugName }}";
				console.log(drugName);
				var url = api + drugName;
				console.log(url);

				window.onbeforeunload = function () {
					window.scrollTo(0, 0);
					}

				fetch(url)
				.then(function (response) {
					return response.json();
				})
				.then(function (data) {
					appendData(data);
				})
				.catch(function (err) {
					console.log(err);
				});

				function appendData(data) {
					var disclaimer = document.getElementById("disclaimer");
					var generic = document.getElementById("generic");
					var drug = document.getElementById("drug");
					var description = document.getElementById("description");
					var warning = document.getElementById("warning");
					var usage = document.getElementById("usage");
					var dosage = document.getElementById("dosage");
					var interactions = document.getElementById("interactions");
					var mothers = document.getElementById("mothers");
					var children = document.getElementById("children");
					var reactions = document.getElementById("reactions");

					var divDisclaimer = document.createElement("div");
					var divGeneric = document.createElement("div");
					var divDrug = document.createElement("div");
					var divDescription = document.createElement("div");
					var divWarning = document.createElement("div");
					var divUsage = document.createElement("div");
					var divDosage = document.createElement("div");
					var divInteractions = document.createElement("div");
					var divMothers = document.createElement("div");
					var divChildren = document.createElement("div");
					var divReactions = document.createElement("div");

					try {
						divDisclaimer.innerHTML = data.meta.disclaimer;
						disclaimer.appendChild(divDisclaimer);
					}

					catch {
						divDisclaimer.innerHTML = "No information provided.";
						disclaimer.appendChild(divDisclaimer);
					}

					try {
						divGeneric.innerHTML = data.results[0].openfda.generic_name[0];
						generic.appendChild(divGeneric);
					}

					catch {
						divGeneric.innerHTML = "No information provided.";
						generic.appendChild(divGeneric);
					}

					try {
						divDrug.innerHTML = data.results[0].spl_product_data_elements[0];
						drug.appendChild(divDrug);
					}

					catch {
						divDrug.innerHTML = "No information provided.";
						drug.appendChild(divDrug);
					}

					try {
						divDescription.innerHTML = data.results[0].description[0];
						description.appendChild(divDescription);
					}

					catch {
						divDescription.innerHTML = "No information provided.";
						description.appendChild(divDescription);
					}

					try {
						divWarning.innerHTML = data.results[0].boxed_warning[0];
						warning.appendChild(divWarning);
					}

					catch {
						divWarning.innerHTML = "No information provided.";
						warning.appendChild(divWarning);
					}

					try {
						divUsage.innerHTML = data.results[0].indications_and_usage[0];
						usage.appendChild(divUsage);
					}

					catch {
						divUsage.innerHTML = "No information provided.";
						usage.appendChild(divUsage);
					}

					try {
						divDosage.innerHTML = data.results[0].dosage_and_administration[0];
						dosage.appendChild(divDosage);
					}

					catch {
						divDosage.innerHTML = "No information provided.";
						dosage.appendChild(divDosage);
					}

					try {
						divInteractions.innerHTML = data.results[0].drug_interactions[0];
						interactions.appendChild(divInteractions);
					}

					catch {
						divInteractions.innerHTML = "No information provided.";
						interactions.appendChild(divInteractions);
					}

					try {
						divMothers.innerHTML = data.results[0].nursing_mothers[0];
						mothers.appendChild(divMothers);
					}

					catch {
						divMothers.innerHTML = "No information provided.";
						mothers.appendChild(divMothers);
					}

					try {
						divChildren.innerHTML = data.results[0].pediatric_use[0];
						children.appendChild(divChildren);
					}

					catch {
						divChildren.innerHTML = "No information provided.";
						children.appendChild(divChildren);
					}

					try {
						divReactions.innerHTML = data.results[0].adverse_reactions[0];
						reactions.appendChild(divReactions);
					}

					catch {
						divReactions.innerHTML = "No information provided.";
						reactions.appendChild(divReactions);
					}
				}
			</script>
		</head>
	<body>
	<mid>

	<div class="middle">
		<header>
			<div class="title">PBScanner</div>
		</header><div style="height:15px;"></div>

		<div>
			<a href="{{ url_for('home') }}" class="btn btn-dark"  style="font-size:30px">
				<input type="button" value="Home"/>
			</a>
		</div><br>

		<div class="form-group">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							<div role="alert" style="color:red;">
								<li style="font-size: 32px">{{ message }}</li>
							</div>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div><br><br><br>

		<div class="form-group">
			<script>
				document.write('<a href="https://www.drugs.com/imprints.php?action=search&drugname=' + drugName + '" class="btn btn-dark" target="_blank" style="font-size:40px">What does this drug look like?</a>')
			</script>
		</div><br>

		<div class="form-group">
			<script>
			document.write('<a href="https://www.drugs.com/cons/' + drugName + '.html" class="btn btn-dark" target="_blank" style="font-size:40px">Learn how to pronounce the name of this drug and find additional information</a>')
			</script><div style="height:60px"></div>
		</div>
	<div class="xshadow">
		<p class = "drugInformationDivsLabels" style = "color: red">Disclaimer:</p>
		<div id="disclaimer" class = "drugInformationDivs" style = "color: red"></div><br><br>
	</div>

	<div>
		<p class = "drugInformationDivsLabels">Generic name:</p>
		<div id="generic" class = "drugInformationDivs"></div><br><br>
	</div>

	<div class="xshadow">
		<p class = "drugInformationDivsLabels">Drug:</p>
		<div id="drug" class = "drugInformationDivs"></div><br><br>
	</div>

	<div>
		<p class = "drugInformationDivsLabels">Description:</p>
		<div id="description" class = "drugInformationDivs"></div><br><br>
	</div>

	<div class="xshadow">
		<p class = "drugInformationDivsLabels">Boxed Warning:</p>
		<div id="warning" class = "drugInformationDivs"></div><br><br>
	</div>

	<div>
		<p class = "drugInformationDivsLabels">Indications and Usage:</p>
		<div id="usage" class = "drugInformationDivs"></div><br><br>
	</div>

	<div class="xshadow">
		<p class = "drugInformationDivsLabels">Dosage and Administration:</p>
		<div id="dosage" class = "drugInformationDivs"></div><br><br>
	</div>

	<div>
		<p class = "drugInformationDivsLabels">Drug Interactions:</p>
		<div id="interactions" class = "drugInformationDivs"></div><br><br>
	</div>

	<div class="xshadow">
		<p class = "drugInformationDivsLabels">Nursing Mothers:</p>
		<div id="mothers" class = "drugInformationDivs"></div><br><br>
	</div>

	<div>
		<p class = "drugInformationDivsLabels">Pediatric Use:</p>
		<div id="children" class = "drugInformationDivs"></div><br><br>
	</div>

	<div class="xshadow">
		<p class = "drugInformationDivsLabels">Adverse Reactions:</p>
		<div id="reactions" class = "drugInformationDivs"></div><br><br>
	</div>

		<a href="{{ url_for('home') }}" class="btn btn-dark" style="font-size:40px">
			<input type="button" value="Home"/>
		</a>
		<div style="height:30px"></div>
	</div>
	</mid>
	</body>
</html> 
