<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset = "UTF-8" />
		<title>PBScanner</title>
		<link rel="stylesheet" href="/static/css/style.css"/>
	</head>
	<body onload="document.form.reset();">
	<mid>
	<div class="middle">
		<header>
			<div class="title">PBScanner</div>
		</header>
		<div class="a"><br>
		<div class="b">Forgot Your Username?</div><br>
		<div>Enter your email:</div>
		</div>
		<form action="{{ url_for('forgotusername') }}" method="POST" name="form">
			<div class="form__fieldset">
				<input type="text" name="email" placeholder="Email" id="email" class="form__input" required/><br><br>
			</div>



			<div class="form__fieldset">
				<input class="form__submit form__input" type="submit" value="Reset" name=""/>
			</div>
		</form>
		{% with messages = get_flashed_messages()  %}
		{% if messages %}
		{% for message in messages %}
		<div role="alert" style="color:red;">
			{{ message }}
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<a href="{{ url_for('home') }}" class="btn btn-dark " style="font-size:30px">Home</a>
	</div>
	</mid>
	</body>
</html>
