<!DOCTYPE html>
<html lang="en" class="html">
	<style>
	table, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	  font-size: 30px;
	}
	th {
	  border: 5px solid black;
	  border-collapse: collapse;
	  font-size: 30px;
	}
	table {
	  width: 100%;
	}
	</style>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset = "UTF-8" />
		<title>Home</title>
		<link rel="stylesheet" href="/static/css/style.css"/>
		<link rel="shortcut icon" href="#">
		<link rel="stylesheet" href="/static/css/styleDisplayResults.css"/>
	</head>
	<body>
	<mid>
	<div class="middle">
		{% block content %}
			<header>
				<div class="title">PBScanner</div>
			</header><div style="height:5px;"></div>
			<title1 class="page">Home</title><br><br>
			<div class="b" style="width: 25%; text-align: center; justify-content: center; display: flex; margin-left:auto; margin-right:auto; background-color: #6fc7f7; border-radius: 12px;">Welcome back, {{ firstname }}!</div><div style="height:25px"></div>
			<div class="a"><div class="c">Here is your current list of Prescriptions:</div>
			<div class="table">
				<table>
					<tr>
						<th>ID#</th>
						<th>Entry</th>
						<th>Image</th>
					</tr>
					{% for post in posts %}
					<tr>
						<td>{{ post['id'] }}</td>
						<td>{{ post['content'] }}</td>
						<td><img id="myImg" src="{{ url_for('display_image', filename=post['imagename']) }}" class = "images" alt="{{ post['imagename'] }}" style="width:100%;max-width:300px"></td>
					</tr>
					{% endfor %}
				</table>
			</div>

			<div class="form-group">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul>
							{% for message in messages %}
								<div role="alert" style="color:red;">
									<li>{{ message }}</li>
								</div>
							{% endfor %}
						</ul>
					{% endif %}
				{% endwith %}
			</div><br><br><br>
			<div class="xshadow">
				<form method="POST" action="{{ url_for('add') }}" enctype="multipart/form-data" name="form">
					<label class="form__label c">Upload a new image here:</label><br><br>
					<input type="file" name="file" class="form__input form__submit" autocomplete="off" style="max-width: 70%" required><br><br>
					<input type="submit" value="Add a new prescription" class="form__input form__submit " style="max-width: 95%">
				</form>
			</div><br><br>

				<form action="{{ url_for('delete') }}" method="POST" name="form">
					<label class="form__label c">Please enter the ID# next to the Prescription that you want to delete:</label><br><br>
					<input type="text" name="ID" placeholder="Please enter ID # here" id="ID" class="form__submit form__input" style="max-width: 70%" required/><br><br>
					<input class="form__submit form__input" type="submit" value="Remove Prescription" style="max-width: 95%" onclick="return confirm('Are you sure you want to delete this post?')" />
				</form><br><br><br>
			<div class="xshadow"><br><br><br>
				<form action="{{ url_for('displayResults') }}" method="POST" name="form">
					<label class="form__label c">Please enter the name of the drug you wish to learn more about in the box below.</label><br><br>
					<input type="search" name="drugName" placeholder="Drug name:" id="drugName" class="form__submit form__input" style="max-width: 70%" required/><br><br>
					<input id = "apiSearch" class="form__submit form__input" type="submit" value="Search for drug" style="max-width: 95%"/><br><br>
				</form>
			</div><br><br>
			<div>
				<a href="{{ url_for('logout') }}" class="btn btn-dark " style="font-size: 30px">Logout</a>
			</div><br>
		{% endblock %}

		<!-- The Modal -->
		<div id="myModal" class="modal">

			<!-- The Close Button -->
			<span class="close">&times;</span>

			<!-- Modal Content (The Image) -->
			<img class="modal-content" id="img01">

			<!-- Modal Caption (Image Text) -->
			<div id="caption"></div>
		</div>

		<div>
			<a href="{{ url_for('appointments') }}" class="btn btn-dark ">
				<input type="button" value="Appointments"/>
			</a>
		</div><div style="height: 8px"></div>

		<div>
			<a href="{{ url_for('reminders') }}" class="btn btn-dark ">
				<input type="button" value="Reminders"/>
			</a>
		</div><div style="height: 8px"></div>

		<div>
			<a href="{{ url_for('feedback') }}" class="btn btn-dark ">
				<input type="button" value="Feedback"/>
			</a>
		</div><br>

		<script src="/static/JavaScript/script.js"></script>
	</body>
	</div>
	</div>
	</div>
	<mid>
</html>
