<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset = "UTF-8" />
    <title>PBScanner</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body onload="document.form.reset();">
    <h1>Welcome to PBScanner!</h1>
    <h3>Please login:</h3>
    <form method="POST" name="form">
      <div class="form__fieldset">
        <label for="email" class="form__label">Email:</label><br>
        <input type="email" name="email" id="email" class="form__input" /><br><br>
      </div>

      <div class="form__fieldset">
        <label for="amount" class="form__label">Password:</label><br>
        <input type="password" name="password" id="password" class="form__input" /><br><br>
      </div>

      <div class="form__fieldset">
        <input class="form__submit form__input" type="submit" value="Login" />
      </div>
    </form>

	<div id="usernameError" class="invisible">Error: Email or password was not found, if you want to create an account click the "Register" button.</div>
	<div id="success" class="invisible">SUCCESS!</div>

  </body>
</html>
