<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset = "UTF-8" />
    <title>PBscanner</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/extraStyle.css" />
	
  </head>
  <body onload="document.form.reset();">
    <h1>Please register below</h1>

    <form method="POST" name="form">
      <div class="form__fieldset">
        <label for="email" class="form__label">Email:</label><br>
        <input type="email" name="email" id="email" class="form__input" /><br><br>
      </div>

      <div class="form__fieldset">
        <label for="amount" class="form__label">Enter a valid password:</label><br>
        <input type="password" name="password" id="password" class="form__input" /><br><br>
      </div>

      <div class="form__fieldset">
        <label for="amount" class="form__label">Enter the password again:</label><br>
        <input type="password" name="password2" id="password2" class="form__input" /><br><br>
      </div>

      <div class="form__fieldset">
        <label for="securityq1Field" class="form__label">What is your mother's maiden name?</label><br>
        <input type="text" id="securityq1" name="securityq1"  class="form__input" /><br><br>
      </div>

      <div class="form__fieldset">
        <label for="securityq2Field" class="form__label">What was the name of your first pet?</label><br>
        <input type="text" id="securityq2" name="securityq2" class="form__input"/><br><br>
      </div>

      <div class="form__fieldset">
        <input class="form__submit form__input" type="submit" value="Create my account" />
      </div>
    </form>

	<div id="usernameError" class="invisible">Error: User already exists.</div>
	<div id="passwordError" class="invisible">Error: Password must contain at least one number, one lower-case letter, and one upper-case letter.</div>
	<div id="success" class="invisible">SUCCESS!</div>

  </body>
</html>
