<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset = "UTF-8" />
		<title>PBScanner</title>
		<link rel="stylesheet" href="/static/css/style.css"/>
		<script src="/static/JavaScript/script.js"></script>
	</head>
	<body onload="document.form.reset();">
	<mid>
	<div class="middle">
		<header>
			<div class="title">PBScanner</div>
		</header>
		<div class="a"><br>
		<div class="b">Reset Your Password</div><br>
		<div>Enter your new password:</div>
		<form action="{{ url_for('resetpassword') }}" method="POST" name="form">
			<div class="form__fieldset">
				<label for="new_password" class="form__label">Enter a valid password:</label><br>
				<input type="password" name="new_password" id="password" class="form__input" placeholder="Enter your password" required/>
				<input type="checkbox" onclick="seePassword()">Show Password</input><br><br>
			</div>

			<div class="form__fieldset">
				<label for="new_password2" class="form__label">Re-enter the password again:</label><br>
				<input type="password" name="new_password2" id="password2" class="form__input" placeholder="Re-enter your password" required/>
				<input type="checkbox" onclick="seePassword2()">Show Password</input><br><br>
				<input type="hidden" name="secret_key" value={{skey}} class="form__input"/>
			</div>

			<div class="form__fieldset">
				<input class="form__submit form__input" type="submit" value="Reset" name=""/>
			</div>
		</div>
		</form>
		{% with messages = get_flashed_messages()  %}
		{% if messages %}
		{% for message in messages %}
		<div role="alert" style="color:red;">
			{{ message }}
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<a href="{{ url_for('home') }}" class="btn btn-dark ">Home</a>
	</div>
	</mid>
	</body>
</html>
